# Default ignored files
/shelf/
/workspace.xml
/plantaura2-firebase-adminsdk-ugs06-e8517597f1.json
/PlantAura/Aplicación/PlantAura/app/src/main/java/com/example/plantaura2/data/repository/GoogleCloud/plantaura2-firebase-adminsdk-ugs06-e8517597f1.json:1
/PlantAura/Aplicación/PlantAura/app/src/main/java/com/example/plantaura2/data/repository/GoogleCloud/plantaura2-firebase-adminsdk-ugs06-e8517597f1.json